<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.AdminMapper">
  <resultMap type="com.gd774.effic.dto.UserDto" id="UserMap">
    <!-- <id      property="empId"          column="EMP_ID"/> -->
	<result  property="empId"          column="EMP_ID"/>
	<result  property="permCode"     column="PERM_CODE"/>
	<result  property="name"         column="NAME"/>
    <result  property="email"        column="EMAIL"/>
	<result  property="phone"        column="PHONE"/>
  </resultMap>

  <select id="getUserList"
		  resultMap="UserMap">
	SELECT EMP_ID, NAME, EMAIL, PERM_CODE FROM USER_T
  </select>

  <insert id="insertUser"
		  parameterType="com.gd774.effic.dto.UserDto">
	<!-- insert into user_t(id, emp_id, password, name, email, phone) values(user_seq.nextval, #{user.empId}, #{user.pw}, #{user.name}, #{user.email}, #{user.phone}) -->
	insert into user_t(id, emp_id, password) values(user_seq.nextval, #{empId}, #{pw})
  </insert>
</mapper>
