<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.ApprovalMapper">
    
    <!-- AppDocDto resultMap -->
<resultMap id="ApprovalMap" type="com.gd774.effic.dto.approval.ApprovalMapDto">
    <!-- APP_DOC_T -->
    <id property="docId" column="DOC_ID"/>
    <result property="empId" column="EMP_ID"/>
    <result property="title" column="TITLE"/>
    <result property="contents" column="CONTENTS"/>
    <result property="docTempCode" column="DOC_TEMP_CODE"/>
    <result property="writeDt" column="WRITE_DT"/>
    <result property="updateDt" column="UPDATE_DT"/>
    <result property="depId" column="DEP_ID"/>
    <result property="docState" column="DOC_STATE"/>
    <result property="urgent" column="URGENT"/>
    <!-- DOC_T -->
    <result property="remarks" column="REMARKS"/>
    <result property="other" column="OTHER"/>
    <!-- DOC_ITEM_T -->
    <result property="itemId" column="ITEM_ID"/>
    <result property="itemName" column="ITEM_NAME"/>
    <result property="itemStandard" column="ITEM_STANDARD"/>
    <result property="itemQuan" column="ITEM_QUAN"/>
    <result property="itemCost" column="ITEM_COST"/>
    <result property="amount" column="AMOUNT"/>
</resultMap>

    
<resultMap type="com.gd774.effic.dto.UserDto" id="UserDtoMap">
        <id property="empId" column="EMP_ID"/>
        <result property="name" column="NAME"/>
        <result property="depId" column="DEP_ID"/>
        <association property="dep" javaType="DepDto">
            <id property="code" column="DEP_ID"/>
            <result property="name" column="DEP_NAME"/>
        </association>
</resultMap>
    

    
<insert id="insertAppDoc" parameterType="ApprovalMapDto">
    <selectKey order="BEFORE" keyProperty="docId" resultType="int">
        SELECT APP_DOC_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO APP_DOC_T (DOC_ID, EMP_ID, TITLE, CONTENTS, DOC_TEMP_CODE, WRITE_DT, UPDATE_DT, DEP_ID, DOC_STATE, URGENT)
    VALUES (#{docId}, #{empId}, #{title}, #{contents}, #{docTempCode}, TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'), TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'), #{depId}, #{docState}, #{urgent})
</insert>

<insert id="insertDoc" parameterType="ApprovalMapDto">
    <selectKey order="BEFORE" keyProperty="docsId" resultType="int">
        SELECT DOC_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO DOC_T (DOCS_ID, DOC_ID,REMARKS, OTHER)
    VALUES (#{docsId}, #{docId}, #{remarks}, #{other})
</insert>

<insert id="insertDocItem" parameterType="ApprovalMapDto">
    <selectKey keyProperty="itemId" order="BEFORE" resultType="int">
        SELECT DOC_ITEM_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO DOC_ITEM_T (ITEM_ID, DOC_ID, ITEM_NAME, ITEM_STANDARD, ITEM_QUAN, ITEM_COST, AMOUNT)
    VALUES (#{itemId}, #{docId}, #{itemName}, #{itemStandard}, #{itemQuan}, #{itemCost}, #{amount})
</insert>

<insert id="registerToApp" parameterType="ApprovalMapDto">
   <selectKey keyProperty="appId" order="BEFORE" resultType="int">
       SELECT APPROVAL_SEQ.NEXTVAL FROM DUAL
   </selectKey>
   INSERT INTO APPROVAL_T (APP_ID, DOC_ID, APPSTATE, EMP_ID, SUBMIT_DT, APP_DT, APP_DOC_ID, REJECT, LINE_ORDER)
   VALUES (#{appId}, #{docId}, #{appState}, #{empId}, TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'), TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'), #{appDocId}, #{reject}, #{lineOrder})
</insert>

<select id="getMyDocList" parameterType="map" resultType="map">
    SELECT DOC.WRITE_DT AS writeDt, 
           APP.APP_DT AS appDt, 
           DOC.DOC_TEMP_CODE AS docTempCode, 
           DOC.URGENT AS urgent, 
           DOC.TITLE AS title, 
           DOC.DOC_STATE AS docState,
           U.NAME AS userName, 
           DEP.NAME AS depName, 
           U.DEP_ID AS depId,
           APP.APP_DOC_ID AS appDocId,
           APP.APP_STATE AS appState
    FROM APP_DOC_T DOC
    JOIN USER_T U ON DOC.EMP_ID = U.EMP_ID
    JOIN DEPARTMENT_T DEP ON U.DEP_ID = DEP.CODE
    LEFT JOIN APPROVAL_T APP ON DOC.DOC_ID = APP.DOC_ID
    WHERE DOC.EMP_ID = #{empId}
    ORDER BY DOC.WRITE_DT DESC
</select>

<select id="getMyDocListByDocState" parameterType="map" resultType="map">
    SELECT DOC.WRITE_DT AS writeDt, 
           APP.APP_DT AS appDt, 
           DOC.DOC_TEMP_CODE AS docTempCode, 
           DOC.URGENT AS urgent, 
           DOC.TITLE AS title, 
           DOC.DOC_STATE AS docState,
           U.NAME AS userName, 
           DEP.NAME AS depName, 
           U.DEP_ID AS depId,
           APP.APP_DOC_ID AS appDocId,
           APP.APP_STATE AS appState
    FROM APP_DOC_T DOC
    JOIN USER_T U ON DOC.EMP_ID = U.EMP_ID
    JOIN DEPARTMENT_T DEP ON U.DEP_ID = DEP.CODE
    LEFT JOIN APPROVAL_T APP ON DOC.DOC_ID = APP.DOC_ID
    WHERE DOC.EMP_ID = #{empId} AND DOC.DOC_STATE = #{docState}
    ORDER BY DOC.WRITE_DT DESC
</select>

<select id="getDepDocListByDocState" parameterType="map" resultType="map">
    SELECT DOC.WRITE_DT AS writeDt, 
           APP.APP_DT AS appDt, 
           DOC.DOC_TEMP_CODE AS docTempCode, 
           DOC.URGENT AS urgent, 
           DOC.TITLE AS title, 
           DOC.DOC_STATE AS docState,
           U.NAME AS userName, 
           DEP.NAME AS depName, 
           U.DEP_ID AS depId,
           APP.APP_DOC_ID AS appDocId,
           APP.APP_STATE AS appState
    FROM APP_DOC_T DOC
    JOIN USER_T U ON DOC.EMP_ID = U.EMP_ID
    JOIN DEPARTMENT_T DEP ON U.DEP_ID = DEP.CODE
    LEFT JOIN APPROVAL_T APP ON DOC.DOC_ID = APP.DOC_ID
    WHERE DOC.DEP_ID = #{depId} AND DOC.DOC_STATE = #{docState}
    ORDER BY DOC.WRITE_DT DESC
</select>

<select id="getDocCount" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM APP_DOC_T
    WHERE EMP_ID = #{empId}
</select>

<select id="getDocById" parameterType="int" resultMap="ApprovalMap">
    SELECT 
        AD.DOC_ID AS docId,
        AD.EMP_ID AS empId,
        AD.TITLE AS title,
        AD.CONTENTS AS contents,
        AD.DOC_TEMP_CODE AS docTempCode,
        AD.WRITE_DT AS writeDt,
        AD.UPDATE_DT AS updateDt,
        AD.DEP_ID AS depId,
        AD.DOC_STATE AS docState,
        AD.URGENT AS urgent,
        DOC.REMARKS AS remarks,
        DOC.OTHER AS other
    FROM 
        APP_DOC_T AD
    LEFT JOIN 
        DOC_T DOC ON AD.DOC_ID = DOC.DOC_ID
    WHERE 
        AD.DOC_ID = #{docId}
</select>

<!-- 새로운 쿼리 추가: DOC_ITEM_T에서 특정 DOC_ID에 해당하는 항목들을 가져오는 쿼리 -->
<select id="getItemsByDocId" parameterType="int" resultMap="ApprovalMap">
    SELECT 
        DI.ITEM_ID AS itemId,
        DI.ITEM_NAME AS itemName,
        DI.ITEM_STANDARD AS itemStandard,
        DI.ITEM_QUAN AS itemQuan,
        DI.ITEM_COST AS itemCost,
        DI.AMOUNT AS amount
    FROM 
        DOC_ITEM_T DI
    WHERE 
        DI.DOC_ID = #{docId}
</select>

    
</mapper>