<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.CalendarMapper">

  <resultMap type="com.gd774.effic.dto.CalendarDto" id="CalendarMap">
	<result  property="scheduleId"        column="SCHEDULE_ID"/>
	<result  property="startDt"          column="START_DT"/>
	<result  property="endDt"    				column="END_DT"/>
	<result  property="startHour"          column="START_HOUR"/>
	<result  property="endHour"          column="END_HOUR"/>
	<result  property="title"         column="TITLE"/>
	<result  property="contents"        column="CONTENTS"/>
	<result  property="docState"        column="DOC_STATE"/>
	<association property="user" javaType="UserDto">
	  <result  property="empId"        column="EMP_ID"/>
	  <result  property="depId"        column="DEP_ID"/>
	</association>
  </resultMap>

  <select id="selectAllSchedules" resultType="com.gd774.effic.dto.CalendarDto">
        SELECT *
        FROM SCHEDULE_T
    </select>

  <insert id="insertSchedule" parameterType="com.gd774.effic.dto.CalendarDto">
    INSERT INTO SCHEDULE_T (TITLE, START_DT, END_DT, DOC_STATE, CONTENTS, EMP_ID, SCHEDULE_ID, START_HOUR, END_HOUR)
    VALUES (#{title}, #{startDt}, #{endDt}, #{docState}, #{contents}, 'tester1', SCHEDULE_SEQ.NEXTVAL, #{startHour}, #{endHour})
  </insert>


  <update id="updateSchedule">
    UPDATE SCHEDULE_T
    SET TITLE = #{title}, START_DT = #{startDt}, END_DT = #{endDt}, DOC_STATE = #{docState}, CONTENTS = #{contents}, START_HOUR = #{startHour}, END_HOUR = #{endHour}
    WHERE SCHEDULE_ID = #{scheduleId}
  </update>

  <delete id="deleteSchedule">
    DELETE FROM SCHEDULE_T WHERE SCHEDULE_ID = #{scheduleId}
  </delete>

</mapper>
