<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.MsgMapper">
  <resultMap type="com.gd774.effic.dto.MsgDto" id="MsgMap">
	<result  property="msgId"          column="MSG_ID"/>
	<result  property="empId"     column="EMP_ID"/>
	<result  property="title"         column="TITLE"/>
    <result  property="contents"        column="CONTENTS"/>
	<result  property="sendDt"        column="SEND_DT"/>
	<result  property="state"        column="STATE"/>
	<result  property="isDelete"        column="IS_DELETE"/>
	<result  property="chkImpt"        column="CHK_IMPT"/>
  </resultMap>


<insert id="insertMsg"
        parameterType="MsgDto">
  <selectKey order="BEFORE" keyProperty="msgId" resultType="int">
	SELECT MSG_SEQ.NEXTVAL
	  FROM DUAL
  </selectKey>
INSERT INTO MSG_T(
     MSG_ID
   , EMP_ID
   , TITLE
   , CONTENTS
   , SEND_DT
   , STATE
   , IS_DELETE
   , CHK_IMPT
 ) VALUES (
     #{msgId}
   , #{empId}  
   , #{title}  
   , #{contents}
   , SYSDATE
   , 0
   , 0
   , 0  
 ) 
</insert>

<insert id="insertRecp"
        parameterType="RecpDto">
INSERT INTO RECP_T(
     RECP_ID
   , MSG_ID
   , EMP_ID
   , STATE
   , CHK_IMPT
 ) VALUES (
     RECP_SEQ.NEXTVAL
   , #{msgId}  
   , #{empId}
   , 0
   , 0  
 ) 
</insert>

  
  


</mapper>
