<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.ReserveMapper">

	<resultMap type="com.gd774.effic.dto.CategoryDto" id="CategoryMap">
		<id			property="catCode"			column="CAT_CODE" />
		<result		property="pcatCode"			column="PCAT_CODE" />
		<result		property="catName"			column="CAT_NAME" />
		<result		property="catType"			column="CAT_TYPE" />
	</resultMap>
 	
 	<resultMap type="com.gd774.effic.dto.FacilityManageDto" id="FacilityManageMap">
		<id			property="facilityId"			column="FACILITY_ID" />
		<result		property="facilityCode"			column="FACILITY_CODE" />
		<result		property="modelName"			column="MODEL_NAME" />
  		<result		property="buyDt"				column="BUY_DT" />
		<result		property="facilityState"			column="FACILITY_STATE" />
		<result		property="rentTerm"				column="RENT_TERM" />
		<association property="cat" javaType="CategoryDto">
			<id			property="catCode"			column="CAT_CODE" />
			<result		property="pcatCode"			column="PCAT_CODE" />
			<result		property="catName"			column="CAT_NAME" />
			<result		property="catType"			column="CAT_TYPE" />
		</association>
	</resultMap>
 
 	<resultMap type="com.gd774.effic.dto.FacilityReserveDto" id="FacilityReserveMap">
		<id			property="rentId"			column="RENT_ID" />
		<result		property="startDt"			column="START_DT" />
		<result		property="endDt"			column="END_DT" />
   	 <association property="user" 		javaType="UserDto">
    		 <id 		property="empId" 			column="EMP_ID"/>
			<result		property="name"			column="NAME" />
		</association>
		<association property="fac" javaType="FacilityManageDto">
			<id			property="facilityId"			column="FACILITY_ID" />
			<result		property="modelName"			column="MODEL_NAME" />
			<result		property="facilityState"			column="FACILITY_STATE" />
			<result		property="rentTerm"				column="RENT_TERM" />
		</association>
	</resultMap>
 
 	<insert id="insertFacility"
 			parameterType="FacilityManageDto">
 		<selectKey order="BEFORE" keyProperty="facilityId" resultType="int">
	      SELECT FACILITY_MANAGE_SEQ.NEXTVAL
	        FROM DUAL
    	</selectKey>
	 	INSERT INTO FACILITY_MANAGE_T(
		  FACILITY_ID
	 	, MODEL_NAME
	 	, BUY_DT
	 	, FACILITY_STATE
	 	, RENT_TERM
	 	, CAT_CODE
	 	) VALUES (
		  #{facilityId}
	 	, #{modelName}
	 	, #{buyDt}
	 	, #{facilityState}
	 	, #{rentTerm}
	 	, #{cat.catCode}
	 	)
 	</insert>
 	
 	<select id="getFacilityCount"
 			resultType="int">
 		SELECT COUNT(*)
 		  FROM FACILITY_MANAGE_T
 	</select>
 	
 	 <select id="getCatList"
  		  resultMap="CategoryMap">
    SELECT CAT_CODE, CAT_TYPE, CAT_NAME, PCAT_CODE
      FROM CATEGORY_T
	  </select>
	  
  	<select id="getMCategoryList"
  		 resultType="CategoryDto">
   	 SELECT CAT_CODE, CAT_TYPE, CAT_NAME, PCAT_CODE
      	FROM CATEGORY_T
	 WHERE CAT_TYPE = 'M'
  	</select>
  	
 	<select id="getSCategoryList"
  		  resultType="CategoryDto">
   	 SELECT CAT_CODE, CAT_TYPE, CAT_NAME, PCAT_CODE
      	FROM CATEGORY_T
	 WHERE CAT_TYPE = 'S' and PCAT_CODE=#{value}
  	</select>
  
 	 <select id="getCatCount">
		SELECT COUNT(*)
	 	 FROM CATEGORY_T
	 	WHERE CAT_TYPE = 'M' 
  	</select>

	<select id="getFacilityList"
	        parameterType="Map"
	        resultMap="FacilityManageMap">
	    SELECT FACILITY_ID, MODEL_NAME, BUY_DT, FACILITY_STATE, RENT_TERM, CAT_NAME, CAT_CODE, PCAT_CODE, CAT_TYPE
 		 FROM (SELECT ROW_NUMBER() OVER(ORDER BY C.CAT_NAME ASC, F.BUY_DT DESC) AS RN
             , C.CAT_CODE, C.PCAT_CODE, C.CAT_TYPE, C.CAT_NAME
             , F.FACILITY_ID, F.MODEL_NAME, F.BUY_DT, F.FACILITY_STATE, F.RENT_TERM
          FROM CATEGORY_T C INNER JOIN FACILITY_MANAGE_T F
            ON C.CAT_CODE = F.CAT_CODE)
         WHERE RN BETWEEN #{begin} AND #{end}
	</select>
	 
	<select id="getFacReserveList" parameterType="Map" resultMap="FacilityManageMap">
	    SELECT CAT_NAME, RENT_TERM, MODEL_NAME, RENT_ID, START_DT, END_DT, RENT_STATE, FACILITY_ID, RENT_USER
	    FROM (
	        SELECT DISTINCT CAT_NAME, RENT_TERM, MODEL_NAME, RENT_ID, START_DT, END_DT, RENT_STATE, FACILITY_ID, RENT_USER
	        FROM (
	            SELECT ROW_NUMBER() OVER(ORDER BY C.CAT_NAME ASC) AS RN,
	                   R.RENT_ID, R.START_DT, R.END_DT, R.RENT_STATE, 
	                   F.FACILITY_ID, R.RENT_USER, F.MODEL_NAME, F.RENT_TERM,
	                   C.CAT_NAME
	            FROM CATEGORY_T C
	            INNER JOIN FACILITY_MANAGE_T F ON C.CAT_CODE = F.CAT_CODE
	            LEFT JOIN FACILITY_RESERVE_T R ON F.FACILITY_ID = R.FACILITY_ID
	            LEFT JOIN USER_T U ON R.RENT_USER = U.EMP_ID
	            WHERE F.FACILITY_STATE = 0
	              AND (R.START_DT IS NULL OR R.END_DT IS NULL)
	        ) T
	        WHERE T.RN BETWEEN #{begin} AND #{end}
	    ) T2
	</select>

	<select id="getFacReserve"
	        parameterType="java.util.Map"
	        resultMap="FacilityReserveMap">
	    SELECT *
	    FROM (
	        SELECT RENT_ID, START_DT, END_DT, RENT_STATE, FACILITY_ID, RENT_USER,
	               ROW_NUMBER() OVER (ORDER BY END_DT ASC) AS RN
	        FROM FACILITY_RESERVE_T
	        WHERE END_DT IS NOT NULL
	    )
	    WHERE RN BETWEEN #{begin} AND #{end}
	</select>
	
	<insert id="insertFacReserve"
			parameterType="FacilityReserveDto">
		<selectKey order="BEFORE" keyProperty="rentId" resultType="int">
	      SELECT FACILITY_RESERVE_SEQ.NEXTVAL
	        FROM DUAL
    	</selectKey>
	INSERT INTO FACILITY_RESERVE_T(
		  RENT_ID
		, START_DT
		, END_DT
		, FACILITY_ID
		, RENT_USER
	) VALUES(
		  #{rentId}
		, #{startDt}
		, #{endDt}
		, #{facilityId}
		, 'tester1'
	)
	</insert>
	
	<select id="getFacReserveCount"
			resultType="int">
		SELECT COUNT(*)
		  FROM FACILITY_RESERVE_T
	</select>
	
	<select id="getFacilityById"
			resultMap="FacilityManageMap">
		SELECT F.FACILITY_ID, F.MODEL_NAME, F.BUY_DT, F.FACILITY_STATE, F.RENT_TERM, C.CAT_NAME, C.PCAT_CODE, C.CAT_NAME,  C.CAT_TYPE
		  FROM FACILITY_MANAGE_T F INNER JOIN CATEGORY_T C
		    ON F.CAT_CODE = C.CAT_CODE
		 WHERE FACILITY_ID = #{facilityId}
	</select>
		
	<update id="updateFacilityList"
			parameterType="FacilityManageDto">
		UPDATE FACILITY_MANAGE_T
		   SET FACILITY_STATE = #{facilityState}
		     , RENT_TERM = #{rentTerm}
		 WHERE FACILITY_ID = #{facilityId}
	</update>
	
	<delete id="deleteFacilityList">
		DELETE
		  FROM FACILITY_MANAGE_T
		 WHERE FACILITY_ID = #{facilityId}
	</delete>
	
	
	
</mapper>
