<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd774.effic.mapper.UserMapper">
  <resultMap type="com.gd774.effic.dto.UserDto" id="UserMap">
	<result  property="empId"        column="EMP_ID"/>
	<result  property="pw"           column="PASSWORD"/>
	<result  property="name"         column="NAME"/>

	<result  property="genderId"     column="GENDER_ID"/>
	<result  property="depId"        column="DEP_ID"/>
	<result  property="posId"        column="POS_ID"/>
	<result  property="joinDt"       column="JOIN_DT"/>
	<result  property="leaveDt"      column="LEAVE_DT"/>
  </resultMap>

  <select id="getUserByIdAndPw"
		  resultMap="UserMap">
	SELECT EMP_ID, NAME, GENDER_ID, DEP_ID, POS_ID, JOIN_DT, LEAVE_DT FROM USER_T
	<where>
	  <if test="empId!=null">EMP_ID = #{empId}</if>
      <if test="pw!=null">AND PASSWORD = #{pw}</if>
	</where>
  </select>

</mapper>
